/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --header-text-color: #db00ff;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --small: 10px;
  --medium: 20px;
  --large: 50px;
  --resource: url(../images/cover-image-dark.png);
  --hover-button-color: rgba(50, 49, 45, 0.40);
  --focus-button-color: #353430;
  --hover-a-color: #F1B2CE;
}

.theme_dark .header__theme-menu-button{
  --accent-color: #ff0070;
}

.theme_dark .header__description{
  --bg-color: #000028;
}

.theme_dark .header__decoration{
  visibility: visible;
}

.theme_dark h2 {
  --accent-color: #ff0070;
}

.theme_dark h3 {
  --bg-color: #000028;
}

.theme_dark h4 {
  --bg-color: #000028;
}

.theme_dark a {
  --accent-color: #ff0070;
  --shadow-offset: 1px;
}

@media (min-width: 1000px){
  .theme_dark .header__title {
    --accent-color: #ff0070;
  }

}
