/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --accent-color: #FF8DCB;
  --header-text-color: #FFC2E6;
  --text-color: #353430;
  --resource: url(../images/cover-image-light.png);
  --hover-button-color: rgba(255, 0, 112, 0.40);
  --focus-button-color: #FF0070;
  --hover-a-color: #353430;
}

.theme_light .header__theme-menu-button {
  --accent-color: #353430;
}

.theme_light .header__description {
  --bg-color: #353430;
}

.theme_light h2 {
  --accent-color: #353430;
}

.theme_light h3 {
  --bg-color: #353430;
}

.theme_light h4 {
  --bg-color: #353430;
}

.theme_light a {
  --accent-color: #FF8DCB;
  --shadow-offset: 2px;
}

.theme_light .header__decoration {
  visibility: hidden;
}

@media (min-width: 1000px) {
  .theme_light .header__title {
    --accent-color: #FF0070;
  }

}

@media (prefers-color-scheme: light) {  
  :root {
        --bg-color: #fff1f7;
        --accent-color: #FF8DCB;
        --header-text-color: #FFC2E6;
        --text-color: #353430;
        --resource: url(../images/cover-image-light.png);
        --shadow-offset: 1px;
  }

    @media (min-width: 1000px) {
      .header__title {
        --accent-color: #FF0070;
      }
    }
    
    .header__theme-menu-button {
      --accent-color: #353430;
    }

    .header__decoration {
      visibility: hidden;
    }
    
   .header__description {
      --bg-color: #353430;
    }
    
    h2 {
      --accent-color: #353430;
    }
    
    h3 {
      --bg-color: #353430;
    }

    h4 {
      --bg-color: #353430;
    }

    a {
      --accent-color: #FF8DCB;
      --shadow-offset: 2px;
    }



}












