/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, sans-serif);
  background: var(--resource, url(../images/cover-image-dark.png)) no-repeat center/cover;
  background-color: var(--bg-color, #f3efec);
  background-attachment: fixed;
  min-inline-size: 375px;
}

.content-section {
  margin: var(--small, 10px);
}

.header {
  position: relative;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 192px 1fr;
  align-items: center;
  padding: 0;
  min-inline-size: 355px;
  block-size: calc(100vh - var(--medium, 20px));
}

.header__title {
  margin: 0;
  color: var(--header-text-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.header__description {
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--bg-color, #000028);
  font-weight: 700;
  font-size: var(--main-font-size);
  font-style: normal;
  line-height: 23.4px;
  background-color: var(--accent-color, #ff0070);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 26px;
  border: none;
  padding: 0 0 4px 0;
  color: var(--accent-color, #ff0070);
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size, 18px);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-color, rgba(50, 49, 45, 0.4));
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus-button-color, #353430);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--small, 10px);
  padding: 0;
  list-style: none;
}

.header__decoration {
  position: absolute;
  margin: 0;
  color: var(--accent-color, #ff0070);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  font-style: normal;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  inset-block-start: 0;
  inset-inline-end: 30px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
  inset-inline-start: 0;
}

.header__decoration::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
  box-shadow: 0 0 5px 3px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
  inset-block-end: 8px;
  inset-inline-end: -21px;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--accent-color, #ff0070);
  font-weight: 700;
  font-size: var(--main-font-size, 18px);
  font-style: normal;
  line-height: 23.4px;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--bg-color, #000028);
  font-weight: 700;
  font-size: var(--main-font-size, 18px);
  line-height: 23.4px;
  background-color: var(--accent-color, #ff0070);
}

h4 {
  margin-block-start: 0;
  margin-block-end: var(--small, 10px);
  color: var(--bg-color, #000028);
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  line-height: 23.4px;
  background-color: var(--accent-color, #ff0070);
}

.main p {
  margin-block-start: var(--small, 10px);
  margin-block-end: 0;
  color: var(--text-color);
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  font-style: normal;
  line-height: 23.4px;
}

a {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px var(--shadow-offset, 1px) 0px var(--accent-color, #ff0070);
}

a:hover {
  border-bottom: 1px solid var(--hover-a-color, #f1b2ce);
}

a:focus {
  outline: 1px solid var(--hover-a-color, #f1b2ce);
}

.content__text-block {
  display: grid;
  gap: var(--medium, 20px);
  padding-block-start: 40px;
  padding-block-end: var(--large, 50px);
}

.content__text-block:nth-of-type(2) {
  padding-block-start: var(--medium, 20px);
}

.content__text-image-block {
  display: grid;
  gap: var(--medium, 20px);
  padding-block-end: var(--large, 50px);
}

.content__image-block {
  display: grid;
  grid-template-rows: auto;
  gap: var(--small, 10px);
  width: 100%;
  margin: 0;
  padding-block-start: var(--small, 10px);
  padding-block-end: 40px;
}

.content-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--medium, 20px));
}

.footer .header__title {
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

@media (min-width: 720px) {
  .content-section {
    margin: var(--medium, 20px);
  }

  .header {
    grid-template-rows: 1fr 99px 1fr;
    block-size: calc(100vh - 40px);
  }

  .header__title {
    position: relative;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    inset-inline-start: -19px;
  }

  .footer .header__title {
    inset-inline-start: 0;
  }

  .header__description {
    max-width: 50%;
    margin-inline-start: 50%;
  }

  .content__text-block {
    grid-template-columns: 1fr 2fr;
    padding-block-start: 60px;
    padding-block-end: 80px;
  }

  .content__text-block:nth-of-type(2) {
    grid-template-columns: 1fr;
    padding-block-end: 80px;
  }

  .content__paragraph:nth-of-type(2) {
    grid-column: -1/-2;
  }

  .main__title {
    inline-size: calc((100vw - 60px) / 3);
  }

  .main h4 {
    margin-block-start: 0;
    margin-block-end: var(--small, 10px);
  }

  .content__image-block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    padding-block-start: var(--medium, 20px);
    padding-block-end: 60px;
    inline-size: 100%;
  }

  .content__text-image-block {
    grid-template-columns: 1fr 2fr;
    gap: var(--medium, 20px);
    padding-block-end: 80px;
  }

  .content__text-image-block h2 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 6;
  }

  .content-image:nth-of-type(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .content-image:nth-of-type(2) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }
  .content-image:nth-of-type(3) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
  }
  .content-image:nth-of-type(5) {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
  }

  .footer {
    height: calc(100vh - 40px);
  }
}

@media (min-width: 1000px) {
  .header {
    grid-template-rows: 1fr 130px 1fr;
  }

  .content__text-block:nth-of-type(2) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--medium, 20px);
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: var(--small, 10px);
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    list-style: none;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
}
