/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --header-text-color: #db00ff;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --small: 10px;
  --medium: 20px;
  --large: 50px;
  --resource: url(../images/cover-image-dark.png);
  --shadow-offset: 1px;
  --hover-button-color: rgba(255, 0, 112, 0.40);
  --focus-button-color: #FF0070;
  --hover-a-color: #F1B2CE;

}


